.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline1 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #f1f1f1;
    top: 40px;
    bottom: 0;
    left: 0%;
    margin-left: -3px;
  }

  .timeline1::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #f1f1f1;
    top: 40px;
    bottom: -20px;
    left: 0%;
    margin-left: -3px;
  }
  .container-timeLine {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
  }
  .container-timeLine::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: -17px;
    background-color: white;
    border: 2px solid #0069d9;
    top: 32px;
    border-radius: 50%;
    z-index: 1;
  }
  #ED_EX{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #666666;
    margin-left: 1.3em;
  }
  #title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
  }
  #years{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #666666;
  }
  #explanation{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color:#888888;
  
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -0.4em;
  }
  .content-timeLine {
    padding: 20px 30px;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 6px;
  }
  .ml-6{
    margin-left: -13rem;
  }
  
  /* Phone */
  @media screen and (max-width: 600px) {
    .resume, .experience{
      margin-left: 1.5em;
    }
  }