.bgArea{
    background-image: url("../images/bg.svg");
    background-color:#E8E8E8 ; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 61em; 
    
}
.footer-area{
    background-color:#212529 ;
    height: 7em;
}
.mt-6 {
    margin-top: 23rem;
}
.mt-7 {
    margin-top: 10rem;
}
.mt-8 {
    margin-top: 7.5rem;
}
.mb-6 {
    margin-bottom: 4rem;
}
.img-fluid{
    border: 4px solid #000;
    width: 100%;
    box-shadow:  8px 8px rgba(6, 0, 0, 0.2)
}
#niceDay{
    font-family: "Grandstander";
    font-size: 25px;
    
}
#Hi{
    font-family: "Grandstander";
    font-weight: 100px; 
    font-size: 50px;
}
#Elinor{
    font-family: "Anton"; 
    font-weight: 400;
    font-size: 90px;
}
#details_Paragraph{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}
.about-profile{
    position:relative;
    margin:20px 0 20px 0;
    line-height: 35px;
}
#lover{
    font-family: "Architects Daughter";
    font-size: 30px;
}
#myInput{
    outline:none;
    border:none;
}
#ABOUT{
    height: 57em;
    background-color: #F5F5F5;
}
#RESUME{
    height: 35em;
}